@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Handlee&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400;500;700&family=Ysabeau+SC:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#root {
  overflow: hidden;
}
a {
  text-decoration: none;
}
/* svg {
  transform: rotate(180deg);
} */

.sidenavbar {
  position: absolute;
  width: 200px;
  border-right: 4px solid red;
  width: 100%;
  max-width: 500px;
  background-color: #1e2027;
}

.navbar {
  background-color: #f8f8f8;
}
.navbar-nav .nav-link {
  padding: 12px 20px;
  border-radius: 0;
  font-size: 20px;
  width: 300px;
  background-color: #fff;
  color: #000;
}
.navbar-nav .nav-item:hover .nav-link {
  background-color: #000;
  color: #f8f8f8;
  transition: all 0.3s ease;
}
.navbar-nav .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  display: none;
}
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  width: 300px;
  max-height: 1000px;
}
.navbar-nav .dropdown-item {
  padding: 10px 20px;
}
.navbar-nav .dropdown-item:hover {
  background-color: #000;
  color: #f8f8f8;
}
.login {
  padding: 12px 20px;
  font-size: 20px;
}
.explore {
  color: #f8f8f8;
  padding: 12px 20px;
  font-size: 20px;
}
.brde {
  border-block: solid;
  writing-mode: horizontal-tb;
  width: 300px;
  border: 2px solid#F8F8F8;
  padding: 7px 2px;
}

.btn-rounded {
  border-radius: 12px;

  font-size: 12px;
  padding: 10px 20px;
  margin: 4px;
}
.btn-group {
  width: 300px;
  padding: 2px 5px;
}
/* Media queries for responsive layout */
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    display: block;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;
  }
}

.btn-primary {
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #fff;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.sidebar-nav-item.active {
  position: relative;
}

.sidebar-nav-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 10px;
  z-index: 11;
  height: 70px;
  background-color: #f82249;
}

.close-butn {
  height: 40px;
  position: absolute;
  top: 2px;
  right: 2px;
}
.track {
  max-width: 500px;
  width: 100%;
  height: 350px;
  background-color: #1e2027;
  position: absolute;
  top: 3%;
  left: 90px;
  z-index: 9;
}

.check-form {
  list-style-type: none;
  padding-left: 88px;
  margin-top: -80px;
}

.check-items {
  display: block;
  position: relative;
  padding: 17px 0px;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

label {
  cursor: pointer;
  font-weight: 400;
}

.check {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check {
  transform: translate(-50px, -25px);
  background: #ffffff;
}
input#two ~ .check {
  transform: translate(-50px, -83px);
  background: #2196f3;
  box-shadow: 0 6px 12px rgba(33, 47, 243, 0.35);
}

input#one:checked ~ .check {
  transform: translate(-50px, 33px);
}

input#two:checked ~ .check {
  transform: translate(-50px, -25px);
}

.rounded-form {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.rounded-form input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  border-radius: 15px;
  outline: none;
}

.rounded-track-button {
  padding: 8px 20px;
  border: none;
  background-color: #2196f3;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute; /* Position the button absolutely */
  right: 10px; /* Adjust the right spacing */
  top: 50%; /* Vertically center the button */
  transform: translateY(-50%);
}
label {
  color: #f0f0f0;
}
.chat-items {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #1e2027;
  position: absolute;
  top: 25%;
  left: 90px;
  z-index: 9;
}
.menu {
  max-width: 303px;
  width: 100%;
  height: 500px;
  background-color: #1e2027;
  position: absolute;
  top: 15px;
  left: 90px;
  z-index: 9;
}
.btn-hero {
  padding: 4px 7px;
}
.sidenav {
  min-width: 80px;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #f8f8f8;
  padding: 30px 0;
  display: inline-flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.sidebar-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-nav-list img {
  width: 40px;
  margin: auto;
}

.sidebar-nav-item {
  margin-top: 44px;
}

.sidebar-nav-list p {
  font-size: 10px;
  text-align: center;
  -webkit-text-stroke-width: thin;
  margin-top: 3px;
  max-width: min-content;
  margin-left: 3px;
}

.logo {
  position: absolute;
  left: 120px;
  top: 35px;
}
.main-img {
  position: absolute;
  right: 0;
  top: 70px;
  align-items: center;
  display: block;
}


.img-after::after {
  content: "";
  position: absolute;
  bottom: 67px;
  right: 47.5%;
  width: 80px;
  height: 14px;
  background-color: rgba(234, 28, 36, 1);
  /* Use other styles as needed */
}
.content-left {
  padding-left: 100px;
}
.video-container {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;

}
.banner_btn:hover{
  background-color: rgb(88 89 91);
  color: #231F20;
}
.second{
  display:flex;
  justify-content: space-around;
}
.content-left{
width: 47%;
}
.frame-right{
  width: 53%;
}
iframe {
  width: 100%;
  height: 100%;
  border: none !important;
}
.ytp-chrome-top, .ytp-chrome-bottom{
  display: none !important;
}
.video-container::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 80px;
  height: 16px;
  background-color: rgba(234, 28, 36, 1);
}

.content-left p {
  line-height: 24px;
  color: rgb(88 89 91);
  padding: 0 16px;
  font-size: 16px;
}

/* cardsssssssss */
.item {
  /* height: 400px; */
  object-fit: cover;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 1% 2% 1% 0%;
  overflow: hidden;
  box-shadow: 2px 3px 10px #444444;
}

.item .overlay {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
}

.clean .overlay span:nth-child(1) {
  position: absolute;
  left: 49%;
  top: 9%;
  font-size: 20px;
  font-weight: bold;
  font-family: coustard;
  transform: translateX(-50%);
}

.clean .overlay span:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 17px;
  transform: translateX(-50%);
}

.clean .overlay span:nth-child(3) {
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 23%;
  left: 0;
}

.clean .overlay:hover {
  opacity: 0.93;
}

.clean .overlay:hover span:nth-child(1) {
  animation: slide 0.4s;
}

.clean .overlay:hover span:nth-child(2) {
  animation: slide 0.7s;
}

.clean .overlay:hover span:nth-child(3) {
  animation: line 0.5s forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
/* ======== */
.overview {
  padding: 80px 20px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(165 167 170);
  text-align: center;
}
.border-end{
  border-right: 2px solid rgba(213, 215, 216, 0.753) !important;
}
.counter {
  padding: 12px 200px;
}

.counter p {
  margin-bottom: 0 !important;
  font-weight: 400;
  line-height: 12px;
}

.counter span {
  font-size: 44px;
    font-weight: 600;
    color: #1780a1;
}

.image-title {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  bottom: 0;
  left: 0;
  
  width: 100%;
  background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 1) 100%);
  padding: 30px;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
}


.btn-image {
  height: 22px;
}

.card{
  border: none !important;
}
.card-body a p:hover{
  color: #1780a1 !important;
}
.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}
.pledge {
  color: rgb(96 96 96);
  font-size: 18px;
  font-weight: 500;
}
.profile-card-5 h5 {
  color: #4e5e30;
  font-weight: 600;
}
.profile-card-5 p {
  font-size: 18px;
  padding: 0 13px;
  color: rgb(96 96 96);
  text-align: center;
  font-weight: 400;
}

.profile-card-5 .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}

/* process  */
section {
  padding: 60px 0 120px 0;
}

.section-header {
  margin-bottom: 60px;
  position: relative;
}

/* .section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 1px;
  border: 1px dashed #fff;
  background: #ea1c24;
  bottom: -142px;
} */
.arrow {
  height: 31px;
}
.section-header h2 {
  font-size: 28px;
  text-align: center;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.work-porcess-area {
  background: rgb(234 28 36);
  position: relative;
  z-index: 1;
}
.work-porcess-area::after{
  content: "";
  left: 0;
  top: 59%; 
  border-top: 2px dashed rgb(255, 255, 255);
  position: absolute;
  z-index: -1 ;
  width: 100vw;
  transform: translateY(-50% );
}
.timeline{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.round-box{
  height: 160px;
  position: relative;
  width: 160px;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(228 229 230);
}
.round-box p{
  text-align: center;
  align-items: center;
  position: absolute;
  top:36%;
  line-height: 21px;
  left: 2%;
  transform: translate(-50% -50%);
  font-size: 20px;
  font-weight: 600;
  color: rgb(146 147 150);
}
.date-box{
  background-color: rgb(35 31 32);
  height: 30px;
  align-items: center;
  width: 80px;
  position: relative;
}
.date-box p{
  position: absolute;
  font-size: 20px;
  top: 0px;
  color: rgb(255 255 255);
   align-items: center;
   left: 18px;
}
@media only screen and (max-width: 1199px) {
  .main-img {
    top: 100px;
    width: 50%;
  }
  .btn-card {
    padding: 11px 29px;
    top: 300px;
    left: 63px;}
    .clean .overlay span:nth-child(2) {
      top: 25%;
      font-size: 15px;
  }
  .left {
    padding-left: 15px;
  }
  .arrow {
    height: 31px;
  }
  .content-left{
    width: 47%;
    }
    .frame-right{
      width: 53%;
    }
    .border-end{
      padding: 3px !important;
    }
}
@media only screen and (max-width: 991px) {
  .main-img {
    top: 300px;
    right: 26px;
    width: 50vw;
  }
  .clean .overlay span:nth-child(2) {
    top: 32%;
    left: 50%;
    font-size: 20px;
    
}
.content-left{
  width: 100%;
  padding: 28px;
  }
  .frame-right{
    width: 100%;
  }
.btn-card {
  padding: 11px 33px;
  top: 447px;
  left: 121px;}
  .arrow {
    height: 31px;
  }
  .border-end{
    border-right: none !important;
    text-align: center;
  }
  .text-start{
    text-align: center !important;
  }
  .left {
    display: flex;
    padding-left: 30px;
    margin-bottom: 229px;
  }
}

@media only screen and (max-width: 767px) {
  .timeline {
    display: grid;
    justify-content: space-evenly;
}
.work-porcess-area::after{
  display:none;
}
.date-box {
  background-color: rgb(35 31 32);
  height: 30px;
  margin-left: 36px;
  transform: rotate(90deg);
  margin-top: 25px;
  align-items: center;
  width: 80px;
  position: relative;
}
  .content-left {
    padding-left: 25px;
  }
  .ft-top {
    padding: 12px;
  }
  .btn-card {
    padding: 10px 26px;
    position: absolute;
    top: 61%;
    left: 34%;
  }
  .border-end{
    border-right: none !important;
    text-align: center;
    border-bottom: 2px solid rgba(213, 215, 216, 0.753) !important;
    
  }
  .clean .overlay span:nth-child(2) {
    font-size: 21px;
    top: 33%;
    left: 50%;
  }
  .left {
    margin-top: 0;
  }
  .main-img {
    top: 294px;
    width: 65vw;
  }
  .mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .section-header h2 {
    font-size: 30px;
  }
  .track {
    max-width: 326px;
    height: 280px;
    left: 89px;
  }
  .check-items {
    padding: 2px 0px;
  }
  input#two:checked ~ .check {
    transform: translate(-20px, -47px);
  }
  input#one ~ .check {
    transform: translate(-20px, 9px);
  }
  input#one:checked ~ .check {
    transform: translate(-20px, -19px);
  }
  input#two ~ .check {
    transform: translate(-20px, -19px);
  }
  .check {
    width: 15px;
    height: 15px;
  }
  label {
    font-size: 11px;
  }
  .rounded-form {
    padding: 2px;
  }
  .rounded-form input[type="text"] {
    padding: 12px;
    font-size: 11px;
  }
  .rounded-track-button {
    padding: 4px 15px;
  }
  .track-font {
    font-size: 12px;
  }
  .counter {
    border-top: none !important;
    border-right: none !important;
    display: table;
    padding: 0;
  }
}
@media only screen and (max-width: 520px) {
  .main-img {
    top: 249px;
    width: 78vw;
    right: 20px;
  }
  .track {
    max-width: 306px;
    height: 280px;
    left: 51px;
  }
  .btn-card {
    top: 72%;
    left: 31%;
  }
  .counter {
    border-top: none !important;
    border-right: none !important;
    display: table;
    padding: 0;
  }
  .title {
    font-size: 27px;
  }
  .sidenav {
    min-width: 40px;
  }
  .sidebar-nav-list img {
    width: 31px;
  }
  .sidebar-nav-list p {
    font-size: 7px;
  }
  .check-form {
    list-style-type: none;
    padding-left: 60px;
    margin-top: -92px;
  }
  .menu {
    left: 55px;
  }
  .sidenavbar .main-buttons > h4 {
    padding-bottom: 0;
  }
  .btn-primary {
    font-size: 9px;
    font-size: 12px;
    padding: 8px 5px;
  }
  .sidenavbar .main-buttons > li {
    padding: 10px 25px;
    font-size: 16px !important;
  }

  .sidenavbar {
    max-width: 304px;
  }
}
@media only screen and (max-width: 380px) {
  .main-img {
    top: 282px;
    width: 80vw;
    right: 6px;
  }
  .clean .overlay span:nth-child(2) {
    font-size: 15px;
    top: 26%;
}
.btn-card {
  top: 72%;
  left: 27%;
}
  .counter {
    border-top: none !important;
    border-right: none !important ;
    display: table;
  }
  .logo {
    left: 73px;
    top: 29px;
  }
  .btn-group,
  .btn-group-vertical {
    position: relative;
    vertical-align: middle;
  }
  .btn-primary {
    font-size: 9px;
    font-size: 12px;
    margin-top: 5px;
    padding: 8px 5px;
  }
  .second-btn {
    padding: 9px 12px;
  }
  .sidenavbar {
    max-width: 260px;
}
.navbar-nav .nav-link {
  width: 260px;}
  .track {
    max-width: 220px;
    height: 280px;
    left: 58.9px;
  }
  .brde {
    width: 260px;}
    .btn-group {
      display: flex;
      flex-direction: column;
      width: 257px;
  }
  .btn-rounded {
    border-radius: 0px;}
    .menu {
      max-width: 260px;}
  .rounded-form {
    padding: 2px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .py-5 {
    padding-top: 1rem !important;
    padding-bottom: 4rem !important;
  }
  .sidenavbar .main-buttons > h4 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .title {
    font-size: 20px;
  }
  .content h1 {
    font-size: 22px;
    padding: 0;
  }
  .content h2 {
    font-size: 24px;
  }
  .left {
    padding-left: 20px;
    margin-top: 61px;
  }
}
