@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Handlee&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400;500;700&family=Ysabeau+SC:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#root {
  overflow: hidden;
}
a {
  text-decoration: none;
}
svg {
  transform: rotate(180deg);
}

.sidenavbar {
  position: absolute;
  width: 200px;
  border-right: 4px solid red;
  width: 100%;
  max-width: 500px;
  background-color: #1e2027;
}

.navbar {
  background-color: #f8f8f8;
}
.navbar-nav .nav-link {
  padding: 12px 20px;
  border-radius: 0;
  font-size: 20px;
  width: 300px;
  background-color: #fff;
  color: #000;
}
.navbar-nav .nav-item:hover .nav-link {
  background-color: #000;
  color: #f8f8f8;
  transition: all 0.3s ease;
}
.navbar-nav .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  display: none;
}
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  width: 300px;
  max-height: 1000px;
}
.navbar-nav .dropdown-item {
  padding: 10px 20px;
}
.navbar-nav .dropdown-item:hover {
  background-color: #000;
  color: #f8f8f8;
}
.login {
  padding: 12px 20px;
  font-size: 20px;
}
.explore {
  color: #f8f8f8;
  padding: 12px 20px;
  font-size: 20px;
}
.brde {
  border-block: solid;
  writing-mode: horizontal-tb;
  width: 300px;
  border: 2px solid#F8F8F8;
  padding: 7px 2px;
}

.btn-rounded {
  border-radius: 12px;

  font-size: 12px;
  padding: 10px 20px;
  margin: 4px;
}
.btn-group {
  width: 300px;
  padding: 2px 5px;
}
/* Media queries for responsive layout */
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    display: block;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;
  }
}

.btn-primary {
  font-size: 13px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #fff;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.sidebar-nav-item.active {
  position: relative;
}

.sidebar-nav-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 10px;
  z-index: 11;
  height: 70px;
  background-color: #f82249;
}
.genie span {
  font-size: 12px;
  margin-right: 60px;
}
.genie h5 {
  font-size: 18px;
  margin-bottom: 0 !important;
}
.genie {
  text-align: center;
  align-items: center;
  margin-top: 62px;
  margin-left: -142px;
}

.reach {
  position: absolute;
  top: -54px;
}

.close-butn {
  height: 40px;
  position: absolute;
  top: 2px;
  right: 2px;
}
.track {
  max-width: 500px;
  width: 100%;
  height: 350px;
  background-color: #1e2027;
  position: absolute;
  top: 3%;
  left: 90px;
  z-index: 9;
}

.check-form {
  list-style-type: none;
  padding-left: 88px;
  margin-top: -80px;
}

.check-items {
  display: block;
  position: relative;
  padding: 17px 0px;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

label {
  cursor: pointer;
  font-weight: 400;
}

.check {
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check {
  transform: translate(-50px, -25px);
  background: #ffffff;
}
input#two ~ .check {
  transform: translate(-50px, -83px);
  background: #2196f3;
  box-shadow: 0 6px 12px rgba(33, 47, 243, 0.35);
}

input#one:checked ~ .check {
  transform: translate(-50px, 33px);
}

input#two:checked ~ .check {
  transform: translate(-50px, -25px);
}

.rounded-form {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.rounded-form input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  border-radius: 15px;
  outline: none;
}

.rounded-track-button {
  padding: 8px 20px;
  border: none;
  background-color: #2196f3;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute; /* Position the button absolutely */
  right: 10px; /* Adjust the right spacing */
  top: 50%; /* Vertically center the button */
  transform: translateY(-50%);
}
label {
  color: #f0f0f0;
}
.chat-items {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: #1e2027;
  position: absolute;
  top: 25%;
  left: 90px;
  z-index: 9;
}
.menu {
  max-width: 303px;
  width: 100%;
  height: 500px;
  background-color: #1e2027;
  position: absolute;
  top: 15px;
  left: 90px;
  z-index: 9;
}
.btn-hero {
  padding: 4px 7px;
}
.sidenav {
  min-width: 80px;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #f8f8f8;
  padding: 30px 0;
  display: inline-flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.sidebar-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-nav-list img {
  width: 40px;
  margin: auto;
}

.sidebar-nav-item {
  margin-top: 44px;
}

.sidebar-nav-list p {
  font-size: 10px;
  text-align: center;
  -webkit-text-stroke-width: thin;
  margin-top: 3px;
  max-width: min-content;
  margin-left: 3px;
}

.logo {
  position: absolute;
  left: 120px;
  top: 35px;
}
.main-img {
  position: absolute;
  right: 0;
  top: 70px;
  align-items: center;
  display: block;
}
.main-img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 16px;
  background-color: red;
}
.content-left {
  padding-left: 100px;
}

.content-left p {
  line-height: 27px;
  font-size: 18px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container .image-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.icon-container .image-container .image {
  vertical-align: middle;
  width: 100%;
  background-position: right center;
  background-size: cover;
  display: inline-block;
  max-width: 100%;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 10%;
  height: 16px;
  background-color: red;
}

.play-button {
  width: 68px;
  height: 48px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');

  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}

.overview {
  padding: 80px 20px;
}

.title {
  font-size: 37px;
  font-weight: 600;
  color: rgb(110, 106, 106);
  text-align: center;
}

.counter {
  padding: 12px 130px;
}

.counter p {
  margin-bottom: 0 !important;
  font-size: 18px;
  font-weight: 500;
}

.counter span {
  font-size: 52px;
  font-weight: 700;
  color: rgb(40, 81, 143);
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 12px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 27%;
  left: 36%;
  transform: translate(-44%, -14%);
}

.inner-text {
  color: black;
  font-size: 13px;
  padding: 2px 4px;
}

.card-container:hover .image-title {
  display: none;
}

.card-container:hover .middle {
  opacity: 1;
}

.card-container:hover .image {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-card {
  padding: 3px 9px;
  display: block;
  border-radius: 40px;
  color: #fff;
  border: transparent;
  background-color: rgb(20, 20, 109);
}

.btn-image {
  height: 22px;
}

/*Profile Card 5*/
.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card-5 h5 {
  color: #4e5e30;
  font-weight: 600;
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-5 .btn-primary {
  background-color: #4e5e30;
  border-color: #4e5e30;
}

/* process  */
section {
  padding: 60px 0;
  min-height: 100vh;
}

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #ffffff;
  bottom: 0;
  left: calc(50% - 25px);
}
.arrow {
  height: 31px;
}
.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.work-porcess-area {
  background: rgb(234 28 36);
}

.work-porcess-area.white {
  background: #ffffff;
}

.work-porcess-area .process-info {
  margin-top: 7px;
}

.work-porcess-area .process-info .single-process {
  width: 220px;
  height: 220px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding-top: 53px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -o-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -ms-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.work-porcess-area .process-info .single-process:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -o-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  -ms-box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
  box-shadow: 0 10px 30px 0 rgba(248, 32, 72, 0.4);
}

.work-porcess-area .process-info .single-process:after {
  position: absolute;
  content: "2023";
  padding: 4px 6px;
  background-color: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -65px;
  color: #f82249;
}
.work-porcess-area .process-info .single-process-3:after {
  position: absolute;
  content: "2022";
  padding: 4px 6px;
  background-color: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -65px;
  color: #f82249;
}
.work-porcess-area .process-info .single-process-2:after {
  position: absolute;
  content: "2021";
  padding: 4px 6px;
  background-color: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -65px;
  color: #f82249;
}

.work-porcess-area .process-info .single-process.first {
  background: #f82249;
}

.work-porcess-area .process-info .single-process.first i:before {
  color: #ffffff;
}

.work-porcess-area .process-info .single-process.first h4 {
  color: #ffffff;
}

.work-porcess-area .process-info .single-process.thard {
  background: #f82249;
}

.work-porcess-area .process-info .single-process.thard i:before {
  color: #ffffff;
}

.work-porcess-area .process-info .single-process.thard h4 {
  color: #ffffff;
}

.work-porcess-area .process-info .single-process.last:after {
  display: none;
}

.work-porcess-area .process-info .single-process i {
  display: block;
  line-height: 25px;
  margin-bottom: 12px;
}

.work-porcess-area .process-info .single-process i:before {
  font-size: 36px;
  color: #f82249;
}

.work-porcess-area .process-info .single-process h4 {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: #f82249;
}
@media only screen and (max-width: 1199px) {
  .main-img {
    top: 100px;
    width: 50%;
  }
  .left {
    padding-left: 15px;
  }
  .arrow {
    height: 31px;
  }
}
@media only screen and (max-width: 991px) {
  .main-img {
    top: 300px;
    right: 26px;
    width: 50vw;
  }
  .arrow {
    height: 31px;
  }
  .content-left {
    padding-left: 100px;
  }
  .left {
    display: flex;
    padding-left: 30px;
    margin-bottom: 229px;
  }
}

@media only screen and (max-width: 767px) {
  .work-porcess-area .process-info .single-process::after {
    display: none;
  }
  .content-left {
    padding-left: 25px;
  }
  .ft-top {
    padding: 12px;
  }
  .left {
    margin-top: 0;
  }
  .main-img {
    top: 294px;
    width: 65vw;
  }
  .mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .work-porcess-area .process-info .single-process {
    margin-top: 30px;
  }
  .work-porcess-area .process-info .single-process img {
    height: 80px;
  }

  .work-porcess-area .section-title h2 {
    margin-bottom: 5px;
  }
  .work-porcess-area .process-info .single-process {
    width: 180px;
    height: 180px;
  }
  .section-header h2 {
    font-size: 30px;
  }
  .track {
    max-width: 326px;
    height: 280px;
    left: 89px;
  }
  .check-items {
    padding: 2px 0px;
  }
  input#two:checked ~ .check {
    transform: translate(-20px, -47px);
  }
  input#one ~ .check {
    transform: translate(-20px, 9px);
  }
  input#one:checked ~ .check {
    transform: translate(-20px, -19px);
  }
  input#two ~ .check {
    transform: translate(-20px, -19px);
  }
  .check {
    width: 15px;
    height: 15px;
  }
  label {
    font-size: 11px;
  }
  .rounded-form {
    padding: 2px;
  }
  .rounded-form input[type="text"] {
    padding: 12px;
    font-size: 11px;
  }
  .rounded-track-button {
    padding: 4px 15px;
  }
  .track-font {
    font-size: 12px;
  }
  .counter {
    border-top: none !important;
    border-right: none !important;
    display: table;
    padding: 0;
  }
}
@media only screen and (max-width: 520px) {
  .main-img {
    top: 249px;
    width: 78vw;
    right: 20px;
  }
  .track {
    max-width: 306px;
    height: 280px;
    left: 51px;
  }
  .counter {
    border-top: none !important;
    border-right: none !important;
    display: table;
    padding: 0;
  }
  .title {
    font-size: 27px;
  }
  .sidenav {
    min-width: 40px;
  }
  .sidebar-nav-list img {
    width: 31px;
  }
  .sidebar-nav-list p {
    font-size: 7px;
  }
  .check-form {
    list-style-type: none;
    padding-left: 60px;
    margin-top: -92px;
  }
  .menu {
    left: 55px;
  }
  .sidenavbar .main-buttons > h4 {
    padding-bottom: 0;
  }
  .btn-primary {
    font-size: 9px;
    font-size: 12px;
    padding: 8px 5px;
  }
  .sidenavbar .main-buttons > li {
    padding: 10px 25px;
    font-size: 16px !important;
  }

  .sidenavbar {
    max-width: 304px;
  }
}
@media only screen and (max-width: 380px) {
  .main-img {
    top: 282px;
    width: 80vw;
    right: 6px;
  }
  .counter {
    border-top: none !important;
    border-right: none !important ;
    display: table;
  }
  .logo {
    left: 73px;
    top: 29px;
  }
  .btn-group,
  .btn-group-vertical {
    position: relative;
    vertical-align: middle;
  }
  .btn-primary {
    font-size: 9px;
    font-size: 12px;
    margin-top: 5px;
    padding: 8px 5px;
  }
  .second-btn {
    padding: 9px 12px;
  }
  .sidenavbar {
    max-width: 310px;
  }

  .track {
    max-width: 220px;
    height: 280px;
    left: 58.9px;
  }
  .rounded-form {
    padding: 2px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .py-5 {
    padding-top: 1rem !important;
    padding-bottom: 4rem !important;
  }
  .sidenavbar .main-buttons > h4 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .title {
    font-size: 20px;
  }
  .content h1 {
    font-size: 22px;
    padding: 0;
  }
  .content h2 {
    font-size: 24px;
  }
  .left {
    padding-left: 20px;
    margin-top: 61px;
  }
}
