
/* New Hero CSS */
.hero_area{
    padding: 0;
    height: 95vh;
    min-height: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero_area .left_hero_sec,
  .hero_area .right_hero_sec{
    flex: 0 0 50vw;
    max-width: 50vw;
    height: 100%;
  }
  
  .hero_area .left_hero_sec{
    background: #231F20;
    position: relative;
  }
  
  .hero_area .left_hero_sec .brand{
    position: absolute;
    top: 2.396vw;
    left: 8.385vw;
  }
  
  .hero_area .left_hero_sec .brand .logo{
    display: flex;
  }
  
  .hero_area .left_hero_sec .brand .logo img{
    max-width: 12.188vw;
  }
  
  .hero_area .left_hero_sec .left_hero_content{
    position: absolute;
    top: 50%;
    left: 8.385vw;
    transform: translateY(-50%);
  }
  
  .hero_area .left_hero_sec .left_hero_content h3{
    font-weight: 300;
    font-size: 3.125vw;
    line-height: 3.125vw;
    color: #fff;
    margin-bottom: 0;
  }
  
  .hero_area .left_hero_sec .left_hero_content h2{
    font-weight: 700;
    font-size: 4.375vw;
    line-height: 4.375vw;
    color: #fff;
  }
  
  .hero_area .left_hero_sec .left_hero_content .banner_btn{
    width: 12.708vw;
    height: 2.917vw;
    background: transparent;
    border: 0.052vw solid #fff;
    border-radius: 12vw;
    margin-top: 2.083vw;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero_area .left_hero_sec .left_hero_content .banner_btn span{
    font-size: 1.2vw;
    color: #fff;
    display: block;
    margin-right: 0.521vw;
  }
  
  .hero_area .left_hero_sec .left_hero_content .banner_btn svg{
    width: 1.563vw;
    height: 1.563vw;
    color: #fff;
  }
  
  .hero_area .right_hero_sec{
    position: relative;
  }
  
  
  .hero_area .banner_img{
    width: calc(50vw + 5.365vw);
    position: absolute;
    right: 0;
    bottom: 10vh;
  }
  
  .hero_area .banner_img img{
    display: block;
    width: 100%;
  }
  
  .hero_area .banner_img::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.677vw;
    height: 1.563vw;
    width: 6.4vw;
    background: #EA1C24;
    display: block;
  }
  
  .vertical_navabar{
    position: absolute;
    left: 0;
    top: 0;
    height: 95vh;
    z-index: 1;
    width: 5.313vw;
    background: #eff0f0;
  }
  
  .vertical_navabar nav,
  .vertical_navabar nav ul{
    height: 100%;
  }
  
  .vertical_navabar nav ul,
  .vertical_navabar nav ul li{
    list-style: none;
  }
  
  .vertical_navabar nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 2.865vw 0;
  }
  
  .vertical_navabar nav ul li{
    text-align: center;
    width: 5.313vw;
    padding: 0.729vw 0;
  }
  
  .vertical_navabar nav ul li img{
    cursor: pointer;
  }
  
  .vertical_navabar nav ul li span{
    display: block;
    text-transform: uppercase;
    margin-top: 0.483vw;
    line-height: 0.833vw;
    font-size: 0.833vw;
    text-align: center;
    color: #6E7578;
    cursor: pointer;
  }
  
  .vertical_navabar nav ul li.active_link{
    background: #58595B;
  }
  
  .vertical_navabar nav ul li.active_link span{
    color: #fff;
  }
  
  .vertical_navabar nav ul li.link_one{
    position: relative;
  }
  
  .toogleMenu{
    position: absolute;
    left: 5.313vw;
    top: 0;
    width: 27.760vw;
    background: #58595B;
    padding: 3.125vw;
  }
  
  .toogleMenu::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0.417vw;
    background: #EB1C24;
    right: 0;
    top: 0;
  }
  
  .accordion-item,
  .accordion-item  button{
    background: transparent;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .accordion-item  button{
    padding: 0.833vw 0;
  }
  
  .accordion-item  button:focus{
    box-shadow: none;
    outline: none;
  }
  
  .accordion-item  button::after{
    display: none;
  }
  
  .accordion-item  button .accordion_icon{
    margin-top: 0;
  }
  
  .accordion-item  button .accordion_txt,
  .menu_heaing,
  .menu_heaing a{
    font-size: 1.356vw;
    font-weight: 600;
    margin-top: 0;
    display: block;
    margin-right: 0.260vw;
    color: #fff;
    text-transform: capitalize;
  }
  
  .accordion-item  button .toogle_menu_links{
    font-size: 1.356vw;
    font-weight: 600;
    margin-top: 0;
    display: block;
    color: #fff;
  }
  
  .accordion-item  button .accordion_icon svg{
    width: 1.256vw;
    height: 1.256vw;
    font-weight: 600;
    color: #fff;
  }
  
  .accordion-item  button[aria-expanded="false"] .minus_icon{
    display: none;
  }
  
  .accordion-item  button[aria-expanded="true"] .minus_icon{
    display: block;
  }
  
  .accordion-item  button[aria-expanded="true"] .plus_icon{
    display: none;
  }
  
  .accordion-item .accordion-collapse .accordion-body .inner_accordion_links{
    padding-left: 1.302vw;
  }
  
  .accordion-item .accordion-collapse .accordion-body .inner_accordion_links a{
    display: block;
    color: #fff;
    font-size: 0.933vw;
    font-weight: 600;
    text-align: left;
  }
  
  .toogleMenu .login_area{
    border-top: 0.104vw solid #808083;
    border-bottom: 0.104vw solid #808083;
  }
  
  .toogleMenu .login_area,
  .toogleMenu .enquire_area{
    padding: 0.833vw 0;
  }
  
  .toogleMenu .login_area h2,
  .toogleMenu .enquire_area h2 a{
    text-align: left;
  }
  
  .toogleMenu .login_area .btn_grp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.781vw;
  }
  
  .toogleMenu .login_area .btn_grp .login_typr_btn{
    height: 2.240vw;
    border: 0.052vw solid #808083;
    background: transparent;
    font-size: 0.833vw;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 0.781vw;
    color: #fff;
    border-radius: 1.563vw;
  }
  
  .vertical_navabar nav ul li.link_two{
    position: relative;
  }
  
  .tracking_area{
    position: absolute;
    left: 5.313vw;
    top: 0;
    width: 41.667vw;
    background: #58595B;
    padding: 5.781vw;
  }
  
  .tracking_area::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0.417vw;
    background: #EB1C24;
    right: 0;
    top: 0;
  }
  
  .close_modal{
    position: absolute;
    top: 0.781vw;
    right: 1.250vw;
    cursor: pointer;
  }
  
  .close_modal svg{
    height: 1.250vw;
    width: 1.250vw;
    color: #fff;
  }
  
  .tracking_form h3{
    color: #fff;
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: 1.563vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.052vw;
  }
  
  .tracking_seletion{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tracking_seletion .track_radio{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tracking_seletion .track_radio .container_radio:nth-child(1){
    margin-right: 0.983vw;
  }
  
  /* The container */
  .container_radio {
    display: block;
    position: relative;
    padding-left: 1.823vw;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 0.833vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.250vw;
    width: 1.250vw;
    background-color:transparent !important;
    border-radius: 50%;
    border: 0.052vw solid #fff;
    margin-top: 0 !important;
  }
  
  /* On mouse-over, add a grey background color */
  .container_radio:hover input ~ .checkmark {
    background-color: #58595B;
  }
  
  /* When the radio button is checked, add a blue background */
  .container_radio input:checked ~ .checkmark {
    background-color: #58595B;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container_radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container_radio .checkmark:after {
       top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
      width: 0.729vw;
      height: 0.729vw;
      border-radius: 50%;
      background: white;
  }
  
  .tracking_seletion .enter_no_textbox input{
    height: 2.083vw;
    border: 0.052vw solid #fff;
    background: #fff;
    font-size: 0.833vw;
    outline: none;
    padding: 0 0.781vw;
    border-radius: 1.042vw;
  }
  
  .tracking_seletion .enter_no_textbox input::placeholder{
    font-size: 0.833vw;
    color: #e6e6e6;
  }
  
  .tracking_seletion .track_btn{
    height: 1.875vw;
    border-radius: 1.875vw;
    padding: 0 0.729vw;
    color: #fff;
    background: #1780A1;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 0.729vw;
  }
  
  .vertical_navabar nav ul li.link_three{
    position: relative;
  }
  
  .whatsapp_chat_area{
    position: absolute;
    left: 5.313vw;
    top: 0;
    width: 41.667vw;
    background: #58595B;
    display: flex;
    align-items: center;
  }
  
  .whatsapp_chat_area::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 0.417vw;
    background: #EB1C24;
    right: 0;
    top: 0;
  }
  
  .whatsapp_chat_area .genie_chat_area{
    flex: 0 0 50%;
    max-width: 50%;
  
  }
  
  .whatsapp_chat_area .genie_chat_area:nth-child(2){
    border-right: 0.052vw solid #B6B8BA;
  }
  
  .whatsapp_chat_area .genie_chat_area a{
    display: block;
    display: flex;
    align-items: end;
    padding: 0 0 2.865vw;
  }
  
  .whatsapp_chat_area .genie_chat_area a img{
    margin-top: -2.646vw;
  }
  
  .whatsapp_chat_area .genie_chat_area a div span:nth-child(1){
    font-weight: 600;
    font-size: 1.250vw;
    color: #fff;
    text-transform: capitalize;
    margin-top: 0;
    text-align: left;
  }
  
  .whatsapp_chat_area .genie_chat_area a div span:nth-child(2){
    font-size: 0.729vw;
    color: #fff;
    margin-top: 0;
    text-transform: capitalize;
    margin-top: 0.483vw;
    text-align: left;
    font-weight: 200;
  }
  
  .whatsapp_chat_area .genie_chat_area .inner_chart{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text{
    margin-left: 0.729vw;
  }
  
  .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3{
    font-weight: 600;
    font-size: 1.250vw;
    line-height: 1.250vw;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  
  .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span{
    font-size: 0.729vw;
    color: #fff;
    margin-top: 0;
    text-transform: capitalize;
    margin-top: 0.2vw;
    text-align: left;
    font-weight: 200;
  }
  
  @media  (max-width: 2060px){
    .gnie {
      display: flow-root;
      position: absolute;
      left: 13%;
      top: 5vw;
    }

  }
  @media  (max-width: 1660px){
    .gnie {
      display: flow-root;
      position: absolute;
      left: 16%;
      top: 7vw;
    }
    .whatsapp_chat_area .genie_chat_area a div span:nth-child(2) {
      font-size: 1.009vw;}
      .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
        font-size: 1.109vw;}
        .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3 {
          font-weight: 600;
          font-size: 1.550vw;
          line-height: 1.550vw;}
          .whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
            font-weight: 600;
            font-size: 1.450vw;}
  }
  @media (min-width: 1361px) and (max-width: 1659px){
    .gnie {
      display: flow-root;
      position: absolute;
      left: 18%;
      top: 8vw;
  }
  }
  @media (min-width: 992px) and (max-width: 1360px){
    .hero_area,.vertical_navabar{
      height: 80vh;
    }
    .whatsapp_chat_area .genie_chat_area a img {
      margin-top: -3.646vw;
  }
  .whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
    font-size: 20px;
}
.gnie {
  display: flow-root;
  position: absolute;
  left: 9vw;
  top: 9vw;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
  font-size: 20px;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(2) {
  font-size: 1.129vw;
  color: #fff;
  margin-top: 0;
  text-transform: capitalize;
  margin-top: 1.289vw;
  text-align: left;
  font-weight: 200;
}
.inner_chart img {
  height: 45px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3 {
  font-size: 20px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
  font-size: 1.429vw;
  margin-top: 0.8vw;
}
.whatsapp_chat_area {
  position: absolute;
  left: 5.313vw;
  top: 0;
  width: 57.667vw;
  background: #58595B;
  display: flex;
  align-items: center;
}
  }
  
  @media (max-width: 991px){
    .toogleMenu {
      position: absolute;
      left: 6.313vw;
      top: 0;
      width: 59.76vw;
      background: #58595B;
      padding: 5.125vw;
  }
  .accordion-item button .accordion_txt, .menu_heaing, .menu_heaing a {
    font-size: 3.356vw;
    margin-top:9px;
  }
  .accordion-item button .accordion_icon svg {
    width: 3.256vw;
    height: 3.256vw;}
    .accordion-item .accordion-collapse .accordion-body .inner_accordion_links a {
      margin-top: 13px;
      font-size: 2.133vw;
  }
  .accordion-item button .toogle_menu_links {
    font-size: 2.956vw;}
    .hero_area .left_hero_sec .brand{
      top: 30px;
      left: 100px;
    }
    .toogleMenu .login_area .btn_grp .login_typr_btn {
      height: 3.24vw;
      font-size: 19px;
      margin-top: 10px;
      padding: 0 3.101vw;
  }
  .toogleMenu .login_area .btn_grp {
    display: grid;}
    .accordion-item button {
      padding: 1.833vw 0;
  }
    .hero_area .left_hero_sec .brand .logo img{
      max-width: 200px;
    }
  
    .hero_area{
      flex-wrap: wrap;
    }
  
    .hero_area,
    .hero_area .left_hero_sec{
      height: 100%;
    }
  
    .hero_area .left_hero_sec .left_hero_content,
    .hero_area .banner_img{
      position: unset;
      transform: unset;
    }
  
    .hero_area .left_hero_sec{
      height: 600px;
      display: flex;
      align-items: center;
    }
  
    .hero_area .left_hero_sec .left_hero_content{
      padding: 0 50px 0 100px;
      /* height: 600px; */
    }
  
    .hero_area .left_hero_sec, .hero_area .right_hero_sec{
      flex: 0 0 100vw;
      max-width: 100vw;
    }
  
    .hero_area .left_hero_sec .left_hero_content h3{
      font-size: 50px;
      line-height: 50px;
    }
  
    .hero_area .left_hero_sec .left_hero_content h2{
      font-size: 74px;
      line-height: 74px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn{
      width: 200px;
      height: 45px;
      margin-top: 35px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn span{
      font-size: 16px;
      margin-right: 10px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn svg{
      width: 26px;
      height: 26px;
    }
  
    .hero_area .banner_img{
      width: 100vw;
      margin: -130px auto 0;
      padding: 0 0 0 100px;
    }
  
    .hero_area .banner_img::after{
      left: 100px;
      width: 100px;
    }
  
    .vertical_navabar{
      height: 600px;
      width: 70px;
    }
  
  
    .vertical_navabar nav ul li span{
      font-size: 13px;
      line-height: 15px;
      margin-top: 8px;
    }
    .container_radio input:checked ~ .checkmark {
      height: 14px;
      width: 14px;
  }
  .tracking_area {
    left: 6.313vw;
    width: 37.667vw;
    padding: 5.781vw;
}
.tracking_seletion .track_radio .container_radio:nth-child(1) {
  margin-right: 1.983vw;
}
.tracking_form h3 {
  font-size: 2.5vw;
  font-weight: 400;
}
.tracking_seletion {
  display: grid;
  align-items: center;
  justify-content: space-between;
}
.tracking_seletion .enter_no_textbox input {
  height: 4.083vw;
  font-size: 1.833vw;
  width: 27vw;
  margin-top: 12px;
  padding: 0 0.781vw;
  border-radius: 2.042vw;
}
.tracking_seletion .track_btn {
  height: 3.875vw;
  padding: 1vw 0.729vw;
  transform: translateX(63px);
  margin-top: 12px;
  width: 10vw;
  line-height: 0px;
  font-size: 16px;
}
.container_radio {
  display: block;
  position: relative;
  padding-left: 1.823vw;
  line-height: 14px;
  font-size: 1.833vw;
}
.close_modal svg {
  height: 3.25vw;
  width: 2.25vw;
  color: #fff;
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -3.646vw;
}
.whatsapp_chat_area{
  width: 52.667vw;
  left: 6.313vw;
}
.gnie{
  display: flow;
    position: absolute;
    left: 9vw;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
  font-size: 20px;}
  .whatsapp_chat_area .genie_chat_area a div span:nth-child(2) {
    font-size: 1.429vw;}
    .whatsapp_chat_area .genie_chat_area .inner_chart {
      display: grid;}
      .inner_chart img {
        height: 86px;
    }
    .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
      font-size: 1.429vw;
      margin-top: 0.8vw;
  }
  .whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3 {
    font-size: 20px;}
}
  
  
  
  @media (max-width: 767px){
    .hero_area .left_hero_sec .left_hero_content h3 {
      font-size: 45px;
      line-height: 45px;
    }
    .toogleMenu {
      position: absolute;
      left: 7.313vw;
      top: 0;
      width: 59.76vw;
      background: #58595B;
      padding: 5.125vw;
  }
  .accordion-item button .accordion_txt, .menu_heaing, .menu_heaing a {
    font-size: 4.356vw;
    margin-top: 1px;
}
.toogleMenu .login_area .btn_grp .login_typr_btn {
  height: 5.24vw;
  line-height: 2px;
  font-size: 16px;
  border-radius: 2.563vw;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 2vw 3.101vw;
}
.accordion-item .accordion-collapse .accordion-body .inner_accordion_links a {
  margin-top: 9px;
  font-size: 3.133vw;
}
.accordion-item button .toogle_menu_links {
  font-size: 3.956vw;
  margin-top: 2px;
}
.accordion-item button {
  padding: 1.833vw 0;
}
    .hero_area .left_hero_sec .left_hero_content h2 {
      font-size: 64px;
      line-height: 64px;
    }
  }
  
  @media (max-width: 767px){
    .hero_area .left_hero_sec .left_hero_content h3 {
      font-size: 32px;
      line-height: 32px;
    }
  
    .hero_area .left_hero_sec .left_hero_content h2 {
      font-size: 64px;
      line-height: 64px;
    }
    .tracking_area {
      left: 7.313vw;
      width: 41.667vw;
      padding: 5.781vw;
  }
  .tracking_form h3 {
    font-size: 2.9vw;
}
.tracking_seletion .track_btn {
  padding: 1vw 0.729vw;
  transform: translateX(45px);
  width: 13vw;
}
.container_radio {
  padding-left: 2.823vw;
  line-height: 14px;
  font-size: 17px;
}
.tracking_seletion .enter_no_textbox input {
  
  font-size: 1.833vw;
  width: 27vw;
}
.whatsapp_chat_area {
  width: 69.667vw;
  left: 7.313vw;
  /* height: 219px; */
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -3.646vw;
  height: 186px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
  font-size: 14px;
  margin-top: 12px;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(2) {
  font-size: 14px;
}
.accordion-item button .accordion_icon svg {
  width: 5.256vw;
  height: 4.256vw;
}
.toogleMenu .login_area .btn_grp {
  display: grid;
  padding: 11px 0px;
}
.gnie {
  display: flow;
  position: absolute;
  left: 12vw;
  top: 61%;
}

  }
  
  @media (max-width: 600px){
    .hero_area .left_hero_sec .brand{
      left: 80px;
    }
  .toogleMenu{
    width: 74.76vw;
  }
  .accordion-item button .accordion_txt, .menu_heaing, .menu_heaing a {
    font-size: 4.756vw;
    margin-top: 2px;
}
.accordion-item button .toogle_menu_links {
  font-size: 4.756vw;
  margin-top: 2px;
}
.accordion-item button {
  padding: 1.833vw 0;
}
    .hero_area .left_hero_sec .left_hero_content{
      padding: 0 15px 0 80px;
    }
  
    .hero_area .banner_img{
      padding: 0 0 0 80px;
    }
  
    .hero_area .left_hero_sec{
      height: 500px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn{
      margin-top: 25px;
      width: 150px;
      height: 40px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn span{
      font-size: 14px;
    }
  
    .hero_area .left_hero_sec .left_hero_content .banner_btn svg{
      width: 22px;
      height: 22px;
    }
  
    .hero_area .banner_img::after {
      left: 80px;
      width: 80px;
    }
  
    .vertical_navabar{
      height: 500px;
      width: 55px;
    }
  
    .vertical_navabar nav ul li img{
      max-width: 32px;
    }
  
    .vertical_navabar nav ul li span{
      font-size: 11px;
      line-height: 13px;
    }
    .close_modal svg {
      height: 2.25vw;
      width: 2.25vw;
      color: #fff;
  }
  .tracking_area {
    left: 8.313vw;
    width: 49.667vw;
    padding: 5.781vw;
}
.tracking_form h3 {
  font-size: 3.5vw;
}
.tracking_seletion .enter_no_textbox input {
  font-size: 2.833vw;
  width: 38vw;
  padding: 2vw 0.781vw;
}
.tracking_seletion .track_btn {
  padding: 3vw 0.729vw;
  transform: translateX(43px);
  width: 16vw;
  border-radius: 2.875vw;
}
.whatsapp_chat_area .genie_chat_area {
    flex: 0 0 50%;
    max-width: 50%;
}
.whatsapp_chat_area {
  width: 82.667vw;
  left: 8.313vw;
  height: 219px;
}
.whatsapp_chat_area .genie_chat_area a {
  display: block;
  align-items: end;
  padding: 0 0 2.865vw;
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -34.646vw;
  max-width: 100%;
}
.gnie {
  margin-top: -4px;
  left: 7vw;
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -26.646vw;
  max-width: 100%;}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(2) {
  font-size: 14px;
  margin-top: 12px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart {
  display: block;
}
.inner_chart img {
  object-fit: scale-down;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
  font-size: 14px;
  margin-top: 12px;
  margin-left: 37px;
}
.accordion-item button .accordion_icon svg {
  width: 6.256vw;
  height: 5.256vw;
}
.toogleMenu .login_area .btn_grp {
  display: grid;
  padding: 11px 10px;
}
  }
  
  @media (max-width: 480px){
    .hero_area .left_hero_sec .left_hero_content h3 {
      font-size: 26px;
      line-height: 26px;
    }
    .toogleMenu {
      width: 80.76vw;
      left: 9.093vw;
    }
    .hero_area .left_hero_sec .left_hero_content h2 {
      font-size: 36px;
      line-height: 36px;
    }
    .tracking_area {
      left: 9.313vw;
      width: 54.667vw;
      padding: 4.781vw;
    }
    .close_modal svg {
      height: 4.25vw;
      width: 4.25vw;
    color: #fff;
}
.tracking_form h3 {
  font-size: 4.0vw;
}
.tracking_seletion .enter_no_textbox input {
  font-size: 3.233vw;
  width: 43vw;
  border-radius: 4.042vw;
  height: 7.083vw;
  padding: 2vw 0.781vw;
}
.tracking_seletion .track_btn {
  padding: 3vw 0.729vw;
  transform: translateX(43px);
  width: 19vw;
  border-radius: 2.875vw;
}
.whatsapp_chat_area {
  width: 84.667vw;
  left: 9.313vw;
  height: 235px;
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -34.646vw;
  max-width: 74%;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
  font-size: 16px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3 {
  font-size: 16px;
}
.accordion-item button .accordion_icon svg {
  width: 6.256vw;
  height: 5.256vw;
}
.accordion-item .accordion-collapse .accordion-body .inner_accordion_links a {
  margin-top: 9px;
  font-size: 3.633vw;
}
.toogleMenu .login_area .btn_grp {
  display: grid;
  padding: 11px 9px;
}
  }
@media (max-width: 380px){
  .tracking_area {
    left: 11.313vw;
    width: 65.667vw;
    padding: 4.781vw;
}
.hero_area .left_hero_sec .brand {
  top: 30px;
  left: 65px;
}
.hero_area .left_hero_sec .brand .logo img {
  max-width: 154px;
}
.hero_area .left_hero_sec .brand {
  top: 30px;
  left: 31px;
}
.round-box {
  height: 160px;
  margin-top: 25px;}
.tracking_form h3 {
  font-size: 5.0vw;
}
.tracking_seletion .enter_no_textbox input {
  font-size: 4.233vw;
  width: 55vw;
  border-radius: 4.042vw;
  height: 8.083vw;
  padding: 3vw 0.781vw;
}
.tracking_seletion .track_radio .container_radio:nth-child(1) {
  margin-right: 8.983vw;
}
.tracking_seletion .track_btn {
  padding: 4vw 0.729vw;
  transform: translateX(49px);
  width: 26vw;
  border-radius: 3.875vw;
}
.toogleMenu {
  width: 81.76vw;
  left: 11.093vw;
}
.container_radio {
  padding-left: 4.823vw;
  line-height: 14px;
  font-size: 13px;
}
.whatsapp_chat_area .genie_chat_area a div span:nth-child(1) {
  font-size: 12px;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text h3 {
  font-size: 11px;
}
.whatsapp_chat_area .genie_chat_area a img {
  margin-top: -54.646vw;
  max-width: 90%;
}
.gnie {
  left: 6vw;
  margin: 0;
}
.whatsapp_chat_area .genie_chat_area .inner_chart .chat_expert_text span {
  font-size: 11px;
  margin-top: 12px;
  margin-left: 22px;
}
.whatsapp_chat_area {
  width: 79.667vw;
  left: 11.313vw;
  height: 199px;
}
.vertical_navabar nav ul li {
  text-align: center;
  width: 8.313vw;
  padding: 0.729vw 0;
}
.accordion-item button .accordion_icon svg {
  width: 10.256vw;
  height: 5.256vw;
}
.toogleMenu .login_area .btn_grp {
  display: grid;
  padding: 12px 0px;
}
.toogleMenu .login_area .btn_grp .login_typr_btn {
  height: 8.24vw;
  line-height: 2px;
  font-size: 17px;
  border-radius: 3.563vw;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 2vw 3.101vw;
}
.accordion-item .accordion-collapse .accordion-body .inner_accordion_links a {
  margin-top: 9px;
  font-size: 4.133vw;
}
}