footer {
    background-color: #EFEFEF;
    padding: 23px 0 20px 0;
}
.copyright-footer {
    font-size: 15px !important;
    font-weight: 500;
}
.copyright-footer a:hover {
    color: #000;
}
.footer-box{
    border-right: 1px solid #68686833;
    height: 100%;
}

.footer-box p,
.footer-bottom-btm p {
    color: #28518F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    ;
    text-transform: capitalize;
}
.footer-box ul{

    padding-left: 0 !important;
}
.footer-box ul li,
.footer-btm ul li {
    transition: 0.5s;
    list-style: none;
}
.footer-box ul li a,
.footer-btm ul li a {
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer-btm ul {
    display: flex;
    justify-content: space-between;
    border-right: #000;

}

.footer-box ul li a:hover,
.footer-box ul li:hover {
    color: rgb(0, 0, 0);
    transform: translate(10px);
}
.social-icons img{
    height: 32px;
    padding-left: 7px;
}
.ft-top{
border-bottom: 1px solid #68686833;
width: 100%;
display: flex;
justify-content: space-evenly;
}

.ft-top p{
    font-size: 14px;
}
.search{
    position: relative;
    margin-top: 27px;
    margin-left: 5px;
    }
    .search input{
     height: 40px;
     border: 2px solid #d6d4d4;


    }
    .search input:focus{

     box-shadow: none;
     border: 2px solid blue;


    }
 .search button{
    position: absolute;
     top: 5px;
     right: 5px;
     height: 30px;
     text-align: center;
     font-size: 12px;
     width: 50px;
     background: blue;

    }
    